.SearchResults{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    margin:5px auto;
}

.Artist{
    text-align:left;
}
.Item{
    padding:3px;
    box-sizing: border-box;
    display:flex;
    text-align:left;
}

.Item:nth-child(odd){
    background-color:rgb(210,210,210);;
}